.History {
    &__table {
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;

        &-actions {
            display: none;

            &-wrapper {
                width: 25%;
            }
        }

        &-action {
            background-color: #ffffff;
            cursor: pointer;
        }

        &--fit {
            height: fit-content;
        }

        th, td {
            border-bottom: 1px solid #f4f5f5;
        }

        tr:hover {
            .History__table-actions {
                display: flex;
            }
        }
    }
}