/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
button,
dl,
hr,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  height: 100vh;
}

button {
  border: none;
  outline: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

